spring:
  application:
    name: bnk-recruitment-monitor
  output:
    ansi:
      enabled: always

  datasource:
    # Local Oracle Database
    url: ${DB_URL:jdbc:oracle:thin:@localhost:1521:xe}
    username: ${DB_USERNAME}
    password: ${DB_PASSWORD}
    driver-class-name: oracle.jdbc.OracleDriver

  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true
    properties:
      hibernate:
        format_sql: true
        dialect: org.hibernate.dialect.OracleDialect

  mail:
    host: smtp.gmail.com
    port: 587
    username: ${MAIL_USERNAME}
    password: ${MAIL_PASSWORD}
    properties:
      mail:
        smtp:
          auth: true
          starttls:
            enable: true

  mvc:
    view:
      prefix: /WEB-INF/jsp/
      suffix: .jsp

logging:
  charset:
    console: UTF-8
